__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo
*.DS_Store
*.coverage
*.egg-info
*.installed.cfg
*.migrations
.env
.env.local
.env.development
.env.production
.env.test
.idea/
.vscode/
.venv/
